.songs, .playlists, .search {

}

header {

  background: white;
  width: 100%;
}

nav {
  background: white;
}

.active {
  display: block;
}

.list {
  background-color: #E8E0F4;
}

.glyphicon-music, .glyphicon-th-list, .glyphicon-search {
  font-size: 50px;
  margin-top: 20px;
}

.glyphicon-th-list {
  color: purple;
}

.purtext {
  color: purple;
}

.blatext {
  color: black;
}

h4 {
    font-size: 40px;
    margin-left: 160px;
    padding-top: 30px;
    display: inline;
    color: #936AC7;
}

.res {
  height: 170px;
}

.res:active {
  background-color: purple;
}

.font-text {
  font-size: 32px;
}

.Playlists {
  margin-top: 0px;
}

hr {
  border-color: black;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rectangle {

  border: 2px solid grey;
  width:90px;
  height:90px;
  background:#D8D8D8;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: -25px;
  display: inline-block;
}

.glyphicon-plus {
  font-size: 28px;
}

.sp {
  padding-top: 165px;
  width:100%;
  height:60px;
}

#sprec1 {

  border-radius: 10px;
  width:900px;
  height: 60px;
  background: #936AC7;

  color: white;
}

.addp{
  display: inline;
  font-size: 35px;
}

.glyphicon-chevron-right {
  display:inline;
  font-size: 60px;
  color: grey;
  float: right;
  margin-top: 50px;
  margin-right: 80px;

}
