.songs, .playlists, .search {

}

li {
  text-align: center;
}

header {

  background: white;
  width: 100%;
}

nav {
  background: white;
}

.active {
  display: block;
}

.list {
  background-color: #E8E0F4;
}

.glyphicon-music, .glyphicon-th-list, .glyphicon-search {
  font-size: 20px;
}

.glyphicon-music, .glyphicon-search {
  color: black;
}

.glyphicon-th-list {
  color: purple;
}

.purtext {
  color: purple;
}

.blatext {
  color: gray;
}

h4 {
    font-size: 16px;
    margin: 0 auto;
    position: relative;
    left: 20%;
    padding-top: 30px;
    display: inline;
    color: #936AC7;
}

.res {
  height: 80px;
}

.res:active {
  background-color: purple;
}

.font-text {
  font-size: 10px;
}

.Playlists {
}

hr {
  border: 0.5px solid grey;

  width: 90%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rectangle {

  border: 1px solid grey;
  position: relative;
  width:45px;
  height:45px;
  background:#D8D8D8;
  left: 10%;
  margin-top: 20px;
  margin-bottom: -20px;
  display: inline-block;
}

.glyphicon-plus {
  font-size: 11px;
  top: 5px;
}

.sp {

  padding-top: 73px;
  width:100%;
  height:30px;

}

#sprec1 {

  border-radius: 5px;
  margin: 0 auto;
  width:95%;
  height: 30px;
  background: #936AC7;
  text-align:center;
  color: white;
}

.addp{


  font-size: 15px;
  position: relative;
  top: 18%;
  display: inline;

}

.glyphicon-chevron-right {
  display:inline;
  position: relative;
  font-size: 30px;
  color: grey;
  float: right;
  margin-top: 20px;
  right: 10%;

}
